@import "../../styles/Utilities/allstyles.module.scss";

.btn {
  width: 100%;
  padding: 16px 16px;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  background-color: $gray-700;

  &:disabled {
    background-color: $gray-300;
    color: $gray-400;
    cursor: auto;
  }
}
